.button{
    padding: 15px;
    text-align: center;
    color: cadetblue;
    background: transparent;
    margin: 10px auto;
    border: 1px solid teal;
    cursor: pointer;
    border-radius: 20px;
}