.header{
    border-bottom: 1px solid cadetblue;
    padding: 40px 0;
}


.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header h1 {
    color: #181818;
    font-size: 24px;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: 800;
}
.header  p {
    color: #7b7b7b;
    letter-spacing: 0.1rem;
}