*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f2c3c;

}

#root{
  display: flex;
  justify-content: center;

}



.App {

  width: 1000px;
  color: cadetblue;
  font-size: 1rem;
}

